* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #000000;
}

.dark-theme {
  background: #5b5959;
  color: #ffffff;
}

.dark-theme .main-content {
  background: #5b5959;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme p {
  color: #ffffff;
}

.dark-theme .profile-email,
.dark-theme .profile-quote,
.dark-theme .streak-card p,
.dark-theme .stat-card p {
  color: #ffffff;
}

.dark-theme .action-btn {
  border: 2px solid #222222;
  background: #5b5959;
}

.dark-theme .edit-profile-btn {
  border: 2px solid #222222;
  color: #ffffff;
  background: #5b5959;
}

.dark-theme .streak-card,
.dark-theme .stat-card {
  background: #5b5959;
}

.active-sidebar {
  color: #7c3aed;
}

.dark-theme .active-sidebar {
  color: #7c3aed;
}

.dark-theme .purple-card {
  box-shadow: 0px 0px 4px 0px #a9a5ef;
}

.dark-theme .green-card {
  box-shadow: 0px 0px 4px 0px #22c55e;
}

.dark-theme .red-card {
  box-shadow: 0px 0px 4px 0px #ef4444;
}

.dark-theme .streak-card {
  box-shadow: 0px 0px 4.5px 0px #f59e0b;
}

.mentor-page {
  width: 100%;
  padding: 32px 20px 20px;
}

/* DESKTOP SIDEBAR */

.desktop-sidebar {
  display: none;
}

/* FOOTER */

.bottom-nav {
  height: 64px;
  width: 100%;
  background: #061235;
  border-radius: 32px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 25px;
  gap: 60px;
}

.nav-item img {
  width: 25px;
  height: 25px;
  object-fit: contain;
    flex-shrink: 0;
}

.active-nav {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-nav img {
  width: 25px;
  height: 25px;
}

.icons {
  width: 16px;
  height: 16px;
}

/* MAIN CONTENT */

.main-content {
  width: 100%;
  min-height: 100vh;
  padding: 32px 14px 20px;
}

/* PROFILE TOP */

.profile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 34px;
}

.profile-top h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Outfit";
}

.profile-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.action-btn {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  border: #f8fafc;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.action-btn .logout {
  width: 17.6px;
  height: 18px;
  cursor: pointer;
}

.action-btn .dark-mode {
  width: 24px;
  height: 24px;
}

/* PROFILE HERO */

.profile-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 34px;
}

.profile-image {
  width: 140px;
  height: 140px;

  border-radius: 50%;

  box-shadow: 0px 0px 4px 0px #7c3aed;

  margin-bottom: 24px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-hero h2 {
  font-size: 20px;
  font-weight: 500;
  height: 24px;

  margin-bottom: 10px;
}

.profile-email {
  font-size: 14px;
  color: #0f172a;
  font-weight: 400;
  height: 17px;
  margin-bottom: 10px;
}

.profile-quote {
  font-size: 14px;
  color: #0f172a;
  font-weight: 500;
  height: 17px;
  font-style: italic;

  margin-bottom: 18px;
}

.edit-profile-btn {
  height: 27px;

  border: none;
  border-radius: 20px;

  padding: 0 14px;

  display: flex;
  align-items: center;
  gap: 8px;

  background: #eeeeee;

  font-size: 14px;
  color: #0f172a;
  font-weight: 500;

  cursor: pointer;
}

.edit-profile-btn img {
  width: 14px;
  height: 14px;
}

/* STREAK CARD */

.streak-card {
  width: 100%;
  height: 139px;
  /* background:#F8FAFC; */

  box-shadow: 0px 0px 3.5px 0px #f59e0b;
  border-radius: 16px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 18px;
}

.streak-icon {
  width: 40px;
  height: 40px;

  margin-bottom: 5px;
}

.streak-icon img {
  width: 100%;
  height: 100%;
}

.streak-card h3 {
  height: 17px;
  font-size: 14px;
  font-weight: 500;

  margin-bottom: 10px;
}

.streak-card h2 {
  font-size: 20px;
  font-weight: 600;

  color: #f59e0b;

  margin-bottom: 10px;
}

.streak-card p {
  font-size: 12px;
  color: #0f172a;
  font-weight: 400;
  height: 15px;
}

/* STATS GRID */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 12px;
}

.stat-card {
  border-radius: 12px;
  height: 80px;
  padding: 18px 14px;

  /* background:#FAFAFA; */
}

.purple-card {
  box-shadow: 0px 0px 2px 0px #4f46e5;
}

.green-card {
  box-shadow: 0px 0px 2px 0px #22c55e;
}

.red-card {
  box-shadow: 0px 0px 2px 0px #ef4444;
}

.stat-top {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 12px;
}

.stat-icon {
  width: 34px;
  height: 34px;

  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon img {
  width: 14px;
  height: 14px;
}

.purple-icon {
  background: #cacbff;
}

.green-icon {
  background: #c2ffd8;
}

.red-icon {
  background: #ffcfcf;
}

.stat-card h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: -15px;
}

.purple-card h2 {
  color: #a855f7;
}

.green-card h2 {
  color: #16a34a;
}

.red-card h2 {
  color: #ef4444;
}

.stat-card p {
  font-size: 12px;
  color: #0f172a;
  font-weight: 400;

  margin-left: 44px;
  margin-top: -27px;
}

/* =========================
   TABLET
========================= */

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background: #f5f5f5;
  }

  .mentor-page {
    display: flex;
    min-height: 100vh;
    padding: 0;
  }

  /* SHOW SIDEBAR */

  .desktop-sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 130px;
    height: 100vh;

    background: #18233f;

    display: flex;
    flex-direction: column;

    padding: 40px 20px;

    z-index: 1000;
  }

  /* SIDEBAR CONTENT */

  .sidebar-logo {
    font-family: "Acme", sans-serif;
    font-size: 22px;

    margin-bottom: 80px;
    line-height: 1.3;

    color: #ffffff;

    text-shadow: -1px -1px 0 rgba(124, 58, 237, 0.95),
      1px -1px 0 rgba(37, 99, 235, 0.95), -1px 1px 0 rgba(124, 58, 237, 0.95),
      1px 1px 0 rgba(37, 99, 235, 0.95), -2px -2px 0 rgba(124, 58, 237, 0.85),
      2px -2px 0 rgba(37, 99, 235, 0.85), -2px 2px 0 rgba(124, 58, 237, 0.85),
      2px 2px 0 rgba(37, 99, 235, 0.85), 0 0 8px rgba(124, 58, 237, 0.5),
      0 0 12px rgba(37, 99, 235, 0.4);
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;

    color: #ffffff;

    font-size: 16px;
    font-weight: 500;
  }

  .sidebar-link img {
    width: 18px;
    height: 18px;
  }

  .active-sidebar {
    color: #7c3aed;
  }

  .sidebar-link:hover {
    color: #7c3aed;
  }

  /* MAIN CONTENT */

  .main-content {
    flex: 1;
    width: 100%;

    padding-left: 150px;
    /* padding-inline: 80px; */
    background: #f5f5f5;
  }

  /* HIDE BOTTOM NAVBAR */

  .bottom-nav {
    display: none;
  }

  /* .stat-top{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 110px;
    height: 110px;

} */

  .streak-card {
    height: 20%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .streak-icon {
    width: 60px;
    height: 60px;
  }

  .streak-card h3 {
    font-size: 20px;
  }

  .streak-card h2 {
    font-size: 40px;
  }

  .streak-card p {
    font-size: 20px;
  }

  .profile-hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .profile-hero p {
    font-size: 20px;
  }

  .edit-profile-btn {
    font-size: 20px;
  }

  .profile-top h1 {
    font-size: 30px;
  }

  .action-btn {
    width: 60px;
    height: 60px;
  }

  .action-btn .logout {
    width: 27.6px;
    height: 28px;
    cursor: pointer;
  }

  .action-btn .dark-mode {
    width: 40px;
    height: 40px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }

  .stat-card {
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 28px;

    margin-bottom: 10px;
  }

  .stat-top {
    display: flex;
    align-items: center;
    margin: 0 0 0 60px;
    gap: 10px;
  }

  /* ICON CONTAINER */

  .stat-icon {
    width: 70px;
    height: 70px;

    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
  }

  /* ICON */

  .stat-icon img {
    width: 30px;
    height: 30px;
  }

  /* TEXT */

  .stat-card h2 {
    font-size: 24px;

    margin: 0;
    margin-top: -30px;

    line-height: 1;
  }

  .stat-card p {
    font-size: 20px;

    margin: -30px 0 0 140px;

    line-height: 1;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  body {
    background: #f5f5f5;
  }

  .mentor-page {
    max-width: 100%;
    padding: 0;
    display: flex;
    min-height: 100vh;
  }

  /* SIDEBAR */

  .desktop-sidebar {
    width: 130px;
    background: #18233f;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
  }

  .sidebar-logo {
    font-family: "Acme", sans-serif;
    font-size: 22px;

    margin-bottom: 80px;
    line-height: 1.3;

    color: #ffffff;

    text-shadow: -1px -1px 0 rgba(124, 58, 237, 0.95),
      1px -1px 0 rgba(37, 99, 235, 0.95), -1px 1px 0 rgba(124, 58, 237, 0.95),
      1px 1px 0 rgba(37, 99, 235, 0.95), -2px -2px 0 rgba(124, 58, 237, 0.85),
      2px -2px 0 rgba(37, 99, 235, 0.85), -2px 2px 0 rgba(124, 58, 237, 0.85),
      2px 2px 0 rgba(37, 99, 235, 0.85), 0 0 8px rgba(124, 58, 237, 0.5),
      0 0 12px rgba(37, 99, 235, 0.4);
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }

  .sidebar-link img {
    width: 18px;
    height: 18px;
  }

  .active-sidebar {
    color: #7c3aed;
  }

  .sidebar-link:hover {
    color: #7c3aed;
  }

  /* MAIN */

  .main-content {
    flex: 1;
    background: #f5f5f5;
  }

  /* HIDE MOBILE FOOTER */

  .bottom-nav {
    display: none;
  }

  .stat-card {
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 28px;

    margin-bottom: 10px;
  }

  .stat-top {
    display: flex;
    align-items: center;
    margin: 0 0 0 60px;
    gap: 10px;
  }

  /* ICON CONTAINER */

  .stat-icon {
    width: 70px;
    height: 70px;

    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
  }

  /* ICON */

  .stat-icon img {
    width: 30px;
    height: 30px;
  }

  /* TEXT */

  .stat-card h2 {
    font-size: 24px;

    margin: 0;
    margin-top: -30px;

    line-height: 1;
  }

  .stat-card p {
    font-size: 20px;

    margin: -30px 0 0 140px;

    line-height: 1;
  }
}
